<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812183929112-u8pp23juea228kiflle9301hmugsgv6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812183929112-u8pp23juea228kiflle9301hmugsgv6l</string>
	<key>API_KEY</key>
	<string>AIzaSyCiEX1AdSorpDE11IXtSHbQ3QSZut7Td1M</string>
	<key>GCM_SENDER_ID</key>
	<string>812183929112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nyu.edu.GeoDiary</string>
	<key>PROJECT_ID</key>
	<string>geodiary-8f840</string>
	<key>STORAGE_BUCKET</key>
	<string>geodiary-8f840.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812183929112:ios:22a1e71e69552072</string>
	<key>DATABASE_URL</key>
	<string>https://geodiary-8f840.firebaseio.com</string>
</dict>
</plist>